.list_wrapper {
  // background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .list_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .list_wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
